<ion-content class="contenidoDiv">
  <ion-card>
    <ion-card-header>
      <p class="tituloPage">Categoria</p>
      <p class="tituloPage1">{{cat_Name}}</p>
      <p class="tituloPage1">{{modu_Name}}</p>
    </ion-card-header>
  </ion-card>
  <ion-list id="inbox-list">
    <ion-card>
      <ion-card-content>
        <div *ngFor="let p of result; let i = index" class="spanIframe">
          <app-detail-virtual [toCoId]="p.toCo_Id"></app-detail-virtual>
        </div>
      </ion-card-content>
    </ion-card>
    <ion-card class="contentDiv-button-list">
      <div >
        <ion-button class="button-silver" expand="block" start (click)="regresar()">REGRESAR</ion-button>
      </div>
    </ion-card>
  </ion-list>
</ion-content>
