* {
	--principal: #E7E7E7;
	--text-principal: #010927;
	--primary: #010927;
	--text-primary: #E7E7E7;
	--secondary: #E7E7E7;
	--text-secondary: #010927;
	--link:#010927;
	--secondary-alternative: #E7E7E7;
}