<ion-content class="contenidoDiv">
  <ion-card>
    <ion-card-header>
      <b>Rutero Relacional</b>
    </ion-card-header>
  </ion-card>
  <ion-searchbar animated="true" 
    placeholder="Clientes"
    show-clear-button="always" 
    [debounce]="1000" 
    (ionInput)="handleInput($event)"></ion-searchbar>
  <ion-list id="inbox-list">
    <ion-card *ngFor="let p of lists; let i = index" >
      <ion-card-content  (click)="goTo(p.id)">
        <ion-label>{{ p.enterpriseName }}</ion-label><br/>
        <ion-label>{{ p.firstName }}</ion-label>
      </ion-card-content>
    </ion-card>
  </ion-list>
  <ion-card>
    <div class="content-button">
      <ion-button expand="block" start (click)="regresar()">REGRESAR</ion-button>
    </div>
  </ion-card>
  <ion-card>
    <div>
      <br/>
      <br/>
      <br/>
      <br/>
    </div>
  </ion-card>
</ion-content>
