<ion-content class="contenidoDiv">
  <ion-card>
    <ion-card-header>
      <p class="tituloPage">Notificaciones</p>
    </ion-card-header>
  </ion-card>
  <ion-list id="inbox-list">
    <ion-card *ngFor="let p of lists; let i = index" class="contentCardLi">
      <ion-card-content (click)="viewWebPage(p.targetUrl)">
        <ion-label>
          <b>{{p.title}}</b> <br>
          <p>{{p.message}}</p>
        </ion-label>
      </ion-card-content>
    </ion-card>
    <ion-card class="contentDiv-button-list">
      <div >
        <ion-button class="button-silver" expand="block" start (click)="regresar()">REGRESAR</ion-button>
      </div>
    </ion-card>
    <ion-card>
      <div>
        <br/>
        <br/>
        <br/>
        <br/>
      </div>
    </ion-card>
  </ion-list>
</ion-content>
