*{
	--principal: #f0efef;
	--text-principal: #000000;
	--primary: #bc6501;
	--text-primary: #ffffff;
	--secondary: #4b5563;
	--text-secondary: #e5e7eb;
	--link:#bc6501;
	--secondary-alternative: #4b556380;
}