<ion-content class="contenidoDiv">
  <ion-card>
    <ion-card-header>
      <p class="tituloPage">Detalle del Cliente</p>
    </ion-card-header>
  </ion-card>
  <ion-list id="inbox-list">
    <ion-card  class="contentCardLi">
      <ion-card-content>
        <ion-label>Empresa: {{ client.enterprise_Name }}</ion-label><br/>
        <ion-label>Nombres: {{ client.first_Name }} </ion-label><br/>
        <ion-label>Documento: {{ client.identification }} </ion-label><br/>
        <ion-label>Clasificación: {{ client.clasification?.clasif_Name }} </ion-label><br/>
        <ion-label>Dia: {{ client.day?.day_Name }} </ion-label><br/>
      </ion-card-content>
    </ion-card>
  </ion-list>
  <ion-card class="contentDiv-button">
    <div>
      <ion-button class="button-silver" expand="block" start (click)="regresar()">REGRESAR</ion-button>
    </div>
  </ion-card>
</ion-content>
