<ion-content class="contenidoDiv">
  <ion-card>
    <ion-card-header>
      <b>Detalle del Cliente</b>
    </ion-card-header>
  </ion-card>
  <ion-list id="inbox-list">
    <ion-card >
      <ion-card-content>
        <ion-label>Empresa: {{client.enterpriseName}}</ion-label><br/>
        <ion-label>Nombres: {{client.firstName}} </ion-label><br/>
        <ion-label>Documento: {{client.identification}} </ion-label><br/>
        <ion-label>Clasificación: {{client.idClasificacion}} </ion-label><br/>
        <ion-label>Dia: {{client.idDia}} </ion-label><br/>
      </ion-card-content>
    </ion-card>
  </ion-list>
  <ion-card>
    <div class="content-button">
      <ion-button expand="block" start (click)="regresar()">REGRESAR</ion-button>
    </div>
  </ion-card>
</ion-content>
