<ion-content class="contenidoDiv">
  <ion-card>
    <ion-card-header>
      <p class="tituloPage">Categoria:</p>
      <p class="tituloPage1">{{cat_Name}}</p>
    </ion-card-header>
  </ion-card>
  <ion-list id="inbox-list1">
    <ion-card>
      <ion-card-content>
        <ion-label class="titleLabel">
          <div id="div1">{{modu_Name}}</div>
        </ion-label>
      </ion-card-content>
    </ion-card>
    <ion-card *ngFor="let p of result; let i = index">
      <app-category-content [modu_ImageName]="modu_ImageName" [topicsCourse]="p"></app-category-content>
    </ion-card> 
  </ion-list>
  <ion-card class="contentDiv-button-list">
    <div >
      <ion-button class="button-silver" expand="block" start (click)="regresar()">REGRESAR</ion-button>
    </div>
  </ion-card>
</ion-content>
