<ion-content class="contenidoDiv">
  <ion-card>
    <ion-card-header (click)="goTo()">
      <b>Rutero Relacional</b>
    </ion-card-header>
    <ion-card-content>
      <canvas #doughnutCanvas style="position: relative; height:20vh; width:40vw"></canvas>
    </ion-card-content>
  </ion-card>
  <ion-list id="inbox-list">
    <ion-card *ngFor="let p of lists; let i = index" >
      <ion-card-content  (click)="goTo()"
        [ngStyle]="{'background-color': p.backgroundColor}">
        <ion-label>{{ p.clasificacionName }} / {{p.count}}</ion-label>
      </ion-card-content>
    </ion-card>
  </ion-list>
  <ion-card>
    <div class="content-button">
      <ion-button expand="block" start (click)="regresar()">REGRESAR</ion-button>
    </div>
  </ion-card>
  <ion-card>
    <div>
      <br/>
      <br/>
      <br/>
      <br/>
    </div>
  </ion-card>
</ion-content>
