<ion-content class="contenidoDiv">
  <ion-card>
    <ion-card-header (click)="goTo()">
      <p class="tituloPage">Rutero Relacional</p>
    </ion-card-header>
    <ion-card-content>
      <canvas #doughnutCanvas style="position: relative; height:20vh; width:40vw"></canvas>
    </ion-card-content>
  </ion-card>
  <ion-list id="inbox-list">
    <ion-card *ngFor="let p of lists; let i = index" >
      <ion-card-content  (click)="goTo()"
        [ngStyle]="{'background-color': p.backgroundColor, 'color': 'black', 'font-weight': 'bold'}">
        <ion-label>{{ p.clasif_Name }} / {{p.count}}</ion-label>
      </ion-card-content>
    </ion-card>
    <ion-card class="contentDiv-button-list">
      <div >
        <ion-button class="button-silver" expand="block" start (click)="regresar()">REGRESAR</ion-button>
      </div>
    </ion-card>
    <ion-card>
      <div>
        <br/>
        <br/>
        <br/>
        <br/>
      </div>
    </ion-card>
  </ion-list>
</ion-content>
