<ion-content class="contenidoDiv">
  <ion-card>
    <ion-card-header>
      <p class="tituloPage">Experiencia</p>
    </ion-card-header>
  </ion-card>
  <ion-list id="inbox-list" style="display: block;">
    <ion-card *ngFor="let p of lists; let i = index">
      <app-edutuber-videos [edutuber]="p"></app-edutuber-videos>
    </ion-card>
    <ion-card class="contentDiv-button-list">
      <div>
        <ion-button class="button-silver" expand="block" start (click)="regresar()">REGRESAR</ion-button>
      </div>
    </ion-card>
    <ion-card>
      <div>
        <br/>
        <br/>
        <br/>
        <br/>
      </div>
    </ion-card>
  </ion-list>
</ion-content>
