<ion-content class="contenidoDiv">
  <ion-card>
    <ion-card-header>
      <p class="tituloPage1">Nueva Experiencia</p>
    </ion-card-header>
  </ion-card>
  <ion-card id="inbox-list1">
    <input hidden type="file" #filepicker (change)="fileSelected($event)" />
    <ion-input label="Nombre Video" labelPlacement="stacked" [(ngModel)]="name" ></ion-input>
    <ion-input label="Descripción" labelPlacement="stacked" [(ngModel)]="descripcion" ></ion-input>
    <ion-input label="Nombre del Archivo" labelPlacement="stacked" [(ngModel)]="fileName" [readonly]="true"></ion-input>
    <ion-button
      class="button-silver"
      (click)="addFile()"
      expand="block"
      >Seleccinar Archivo</ion-button
    >
    <ion-button
      class="button-silver"
      (click)="guardarFile()"
      expand="block"
      [disabled]="btnDisable"
      >Guardar</ion-button
    >
  </ion-card>
  <ion-card class="contentDiv-button-list">
    <div>
      <ion-button class="button-silver" expand="block" start (click)="regresar()">REGRESAR</ion-button>
    </div>
  </ion-card>
</ion-content>
