/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

@font-face { font-family: 'appfont'; font-style: normal; font-weight: normal; src: url('./assets/fonts/Roboto-Regular.ttf'); }

.imgLogo{
  height: 10vh !important;
  padding: 5px !important;
}
.imgLogo1{
  width: 10vh !important;
  padding: 5px !important;
}

.divEducation {
  border-radius: 20px;
  border: 1px solid;
  ion-img::part(image) {
    border-radius: 20px 20px 0 0 !important;
  }

  .etiquetaAmarilla {
    background-color: #E7E7E7;
    color: whitesmoke;
    margin: auto 0;
    text-align: center;
    width: 100%;
    height: 30px;
    opacity: 0.8;
    padding: 8px 0;
    border-radius: 0 0 20px 20px !important;
  }
}

.educationLinkVT{
  color: #E7E7E7;
  text-decoration-line: none;
  font-weight: bold;
}

.divEducationBlack{
  background-color: black;
  color: whitesmoke;
  margin: auto 0;
  text-align: center;
  width: 100%;
  padding: 20px;
  border-radius: 10px !important;
}

.contenidoDiv{
  width: 100%;
  margin-top: 5%;
  bottom: -10%;
  top: 10%;
}

.contenidoHeader{
  color: #010927 !important;
  width: 100%;
  padding: 0 auto;
  margin: 0;
}

.iconListPrincipal, ion-menu-button{
  color: #010927 !important;
}

.contentCardP{
  background-color: #E7E7E7 !important;
  font-size: 20px;
  color: black !important;
  font-weight: bold;
  .iconList {
    color: inherit !important;
  }

  ion-item {
    --background-color: #E7E7E7 !important;
    --background: #E7E7E7 !important;
    color: inherit !important;
  }
}

.contentCard{
  --background: #E7E7E7;
  font-size: 20px;
  color: #010927 !important;
  font-weight: bold;
  border-radius: 5%;
  min-height: 10vh !important;
  .iconList {
    color: inherit !important;
  }
}

.contentCardLi{
  --background: #E7E7E7;
  color: #010927 !important;
  border-radius: 5%;
}

ion-progress-bar::part(track) {
  background: silver;
}

ion-progress-bar::part(progress) {
  background: #E7E7E7;
}

.content-button{
  width: 100%;
  padding: 2%;
  position: absolute;
  bottom: 10%;
}

.contentDiv-button{
  width: 100%;
  padding: 2%;
  position: absolute;
  bottom: 10%;
  margin: 0 !important;
}

.contentDiv-button-list{
  width: 100%;
  padding: 5px 2px;
  margin: 0 auto !important;
  display: inline;
}

.tituloPage {
  font-size: 3vh;
  font-weight: bold;
  margin: 0 auto;
}

.tituloPageMain {
  font-size: medium;
  font-weight: bold;
  padding: 3px;
}

.button-silver{
  --background: #E7E7E7 !important;
  color: #010927;
  font-weight: bold;
  margin: 10px !important;
}

.spanIframe{
  margin: 3px;
  width: 48%;
  display: inline-grid;
  border: 1px solid #010927;
  iframe {
    width: 100%;
    height: 15vh;
  }
  p {
    padding: 3px;
    margin: 0 auto;
    font-weight: bold;
    font-size: small;
  }
}

.titleLabel{
  display: inline-flex;
  font-weight: bold;
  font-size: large;
  width: 100%;
  #div1 {
    width: 75%;
  }
  #div2 {
    width: 25%;
    text-align: center;
    color: #010927;
  }
  
  #div2:active{
    background-color: #E7E7E7;
  }
}

.titleLabel1{
  font-weight: bold;
  font-size: large;
  width: 100%;
}

.titleLabel2{
  font-size: medium;
  padding: 3px;
  #div1 {
    text-align: left;
  }
  #div2 {
    text-align: right;
  }
}