ion-content{
  --padding-top: %5;
}
.iconList{
  font-size: 50px;
  padding: 5%;
  color: #FFAA37 !important;
}

.contentCard{
  --background: black;
  font-size: 20px;
  color: #FFAA37 !important;
  font-weight: bold;
  .iconList {
    color: inherit !important;
  }
}

ion-item, ion-card, .iconList{
  --color-hover: #FFAA37 !important;
}

.user{
  text-align: end;
  font-size: 18px;
  padding: 3%;
  margin: 8px;
  color: var(--ion-color-primary);
}
