<ion-content class="contenidoDiv">
  <ion-card class="tituloPageMain">
    Bienvenido,<br>{{name}}
  </ion-card>
  <ion-list id="inbox-list">
    <ion-card *ngFor="let p of appPages; let i = index" class="contentCard">
      <ion-card-content >
        <ion-item class="contentCard" routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
          <ion-label>{{ p.title }}</ion-label>
          <!-- <ion-icon class="iconList" [name]="p.icon + '-outline'" slot="end"></ion-icon> -->
          <ion-img [src]="'assets/img/' + p.imagen + '.png'" slot="end" class="imgLogo1"/>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
